In [50]:
import pandas as pd
import numpy as np

In [4]:
filename = 'all_hourly_data.h5'
df_codes = pd.read_hdf(filename, 'codes')
df_inter = pd.read_hdf(filename, 'interventions')
df_pats = pd.read_hdf(filename, 'patients')
df_vitals = pd.read_hdf(filename, 'vitals_labs')
df_vitals_mn = pd.read_hdf(filename, 'vitals_labs_mean')

# Explore Patient

In [19]:
subject_id = 6

### Demographic Data

In [21]:
df_pats.loc[subject_id,:,:]

,,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,discharge_location,fullcode_first,dnr_first,...,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30,max_hours
hadm_id,icustay_id,,,,,,,,,,,,,,,,,,,,,
107064,228232,F,WHITE,65.942297,Medicare,2175-05-30 07:15:00,CHRONIC RENAL FAILURE/SDA,2175-06-15 16:00:00,HOME HEALTH CARE,1.0,0.0,...,2175-06-03 13:39:54,3.672917,ELECTIVE,SICU,0,0,0,1,0,88

### Active Intervention

In [28]:
df_inter.loc[6,:,:]

                             vent  vaso  adenosine  dobutamine  dopamine  \
hadm_id icustay_id hours_in
107064  228232     0            0     0          0           0         0
                   1            0     0          0           0         0
                   2            0     0          0           0         0
                   3            0     0          0           0         0
                   4            0     0          0           0         0
...                           ...   ...        ...         ...       ...
                   84           0     0          0           0         0
                   85           0     0          0           0         0
                   86           0     0          0           0         0
                   87           0     0          0           0         0
                   88           0     0          0           0         0

                             epinephrine  isuprel  milrinone  norepinephrine  \
hadm_id icustay_id hours_in
107064  228232     0                   0        0          0               0
                   1                   0        0          0               0
                   2                   0        0          0               0
                   3                   0        0          0               0
                   4                   0        0          0               0
...                                  ...      ...        ...             ...
                   84                  0        0          0               0
                   85                  0        0          0               0
                   86                  0        0          0               0
                   87                  0        0          0               0
                   88                  0        0          0               0

                             phenylephrine  vasopressin  colloid_bolus  \
hadm_id icustay_id hours_in
107064  228232     0                     0            0              0
                   1                     0            0              0
                   2                     0            0              0
                   3                     0            0              0
                   4                     0            0              0
...                                    ...          ...            ...
                   84                    0            0              0
                   85                    0            0              0
                   86                    0            0              0
                   87                    0            0              0
                   88                    0            0              0

                             crystalloid_bolus  nivdurations
hadm_id icustay_id hours_in
107064  228232     0                         0             0
                   1                         0             0
                   2                         0             0
                   3                         0             0
                   4                         0             0
...                                        ...           ...
                   84                        0             1
                   85                        0             1
                   86                        0             0
                   87                        0             0
                   88                        0             0

[89 rows x 14 columns]

### Passive Measuring

In [58]:
df_vitals_mn.loc[6,:,:]

LEVEL2                      alanine aminotransferase albumin albumin ascites  \
Aggregation Function                            mean    mean            mean
hadm_id icustay_id hours_in
107064  228232     0                            23.0     3.0             NaN
                   1                             NaN     NaN             NaN
                   2                             NaN     NaN             NaN
                   3                             NaN     NaN             NaN
                   4                             NaN     NaN             NaN
...                                              ...     ...             ...
                   84                            NaN     NaN             NaN
                   85                            NaN     NaN             NaN
                   86                            NaN     NaN             NaN
                   87                            NaN     NaN             NaN
                   88                            NaN     NaN             NaN

LEVEL2                      albumin pleural albumin urine alkaline phosphate  \
Aggregation Function                   mean          mean               mean
hadm_id icustay_id hours_in
107064  228232     0                    NaN           NaN               58.0
                   1                    NaN           NaN                NaN
                   2                    NaN           NaN                NaN
                   3                    NaN           NaN                NaN
                   4                    NaN           NaN                NaN
...                                     ...           ...                ...
                   84                   NaN           NaN                NaN
                   85                   NaN           NaN                NaN
                   86                   NaN           NaN                NaN
                   87                   NaN           NaN                NaN
                   88                   NaN           NaN                NaN

LEVEL2                      anion gap asparate aminotransferase basophils  \
Aggregation Function             mean                      mean      mean
hadm_id icustay_id hours_in
107064  228232     0             23.0                      34.0       0.1
                   1              NaN                       NaN       NaN
                   2              NaN                       NaN       NaN
                   3              NaN                       NaN       NaN
                   4             20.0                       NaN       NaN
...                               ...                       ...       ...
                   84             NaN                       NaN       NaN
                   85             NaN                       NaN       NaN
                   86             NaN                       NaN       NaN
                   87             NaN                       NaN       NaN
                   88             NaN                       NaN       NaN

LEVEL2                      bicarbonate  ... total protein  \
Aggregation Function               mean  ...          mean
hadm_id icustay_id hours_in              ...
107064  228232     0               15.0  ...           NaN
                   1                NaN  ...           NaN
                   2                NaN  ...           NaN
                   3                NaN  ...           NaN
                   4               18.0  ...           NaN
...                                 ...  ...           ...
                   84               NaN  ...           NaN
                   85               NaN  ...           NaN
                   86               NaN  ...           NaN
                   87               NaN  ...           NaN
                   88               NaN  ...           NaN

LEVEL2                      total protein urine troponin-i troponin-t  \
Aggregation Function                       mean       mean       mean
hadm_id icustay_id hours_in
107064  228232     0                        NaN        NaN        NaN
                   1                        NaN        NaN        NaN
                   2                        NaN        NaN        NaN
                   3                        NaN        NaN        NaN
                   4                        NaN        NaN        NaN
...                                         ...        ...        ...
                   84                       NaN        NaN        NaN
                   85                       NaN        NaN        NaN
                   86                       NaN        NaN        NaN
                   87                       NaN        NaN        NaN
                   88                       NaN        NaN        NaN

LEVEL2                      venous pvo2 weight white blood cell count  \
Aggregation Function               mean   mean                   mean
hadm_id icustay_id hours_in
107064  228232     0                NaN    NaN                   10.6
                   1                NaN    NaN                    NaN
                   2                NaN    NaN                    NaN
                   3                NaN    NaN                    NaN
                   4                NaN    NaN                   10.6
...                                 ...    ...                    ...
                   84               NaN    NaN                    NaN
                   85               NaN    NaN                    NaN
                   86               NaN    NaN                    NaN
                   87               NaN    NaN                    NaN
                   88               NaN    NaN                    NaN

LEVEL2                      white blood cell count urine   ph ph urine
Aggregation Function                                mean mean     mean
hadm_id icustay_id hours_in
107064  228232     0                                 NaN  NaN      NaN
                   1                                 NaN  NaN      NaN
                   2                                 NaN  NaN      NaN
                   3                                 NaN  NaN      NaN
                   4                                 NaN  NaN      NaN
...                                                  ...  ...      ...
                   84                                NaN  NaN      NaN
                   85                                NaN  NaN      NaN
                   86                                NaN  NaN      NaN
                   87                                NaN  NaN      NaN
                   88                                NaN  NaN      NaN

[89 rows x 104 columns]

In [60]:
df_codes.loc[6,:,:]

                                                                    icd9_codes
hadm_id icustay_id hours_in
107064  228232     0         [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   1         [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   2         [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   3         [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   4         [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
...                                                                        ...
                   84        [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   85        [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   86        [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   87        [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...
                   88        [40391, 4440, 9972, 2766, 2767, 2859, 2753, V1...

[89 rows x 1 columns]

In [34]:
df_pats.loc[6,:,:].intime

hadm_id  icustay_id
107064   228232       2175-05-30 21:30:54
Name: intime, dtype: datetime64[ns]

In [52]:
intime = df_pats.loc[6,:,:].admittime.values[0]
outtime = df_pats.loc[6,:,:].outtime.values[0]

In [53]:
(outtime - intime) / np.timedelta64(1, 'h')

102.415

In [56]:
df_pats.loc[6,:,:].los_icu * 24

hadm_id  icustay_id
107064   228232        88.15
Name: los_icu, dtype: float64